* {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
}

/* Import Fonts Starts */
@font-face {
    font-family: RingsideRegularSSm-Book;
    src: url(fonts/RingsideRegularSSm-Book.otf);
}
@font-face {
    font-family: Knockout-69;
    src: url(fonts/Knockout-69.otf);
}
@font-face {
    font-family: Knockout-33;
    src: url(fonts/Knockout-33.otf);
}
@font-face {
    font-family: RingsideCompressedSSm-Black;
    src: url(fonts/RingsideCompressedSSm-Black.otf);
}
/* Import Fonts End */

:root {
    font-size: 14px;
    /* font-size: 3.3vw; */
}
body {
    font-size: 3.3vw;
    margin:1.1em 1.1em;
    line-height: 1.5em;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Knockout-69;
    line-height: .75em;
}
h1, h2, h3, h4, h5, h6, button, .subheading {
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, button, .subheading, p {
    margin-bottom: 1.15rem;
}

h1 {
    font-size: 8em;
}
h2 {
    font-size: 7em;
}
h3 {
    font-size: 6.4em;
}
h4 {
    font-size: 5.12em;
}
h5 {
    font-size: 4.1em;
}
h6 {
    font-size: 3.28em;
}
.subheading {
    font-family: Knockout-33;
    font-size: 2.26em;
    line-height: .875em;
}
p {
    font-family: RingsideRegularSSm-Book;
    font-size: max(14px, 1em);
    line-height: 1.5em;
}

/* Buttons Start */
button {
    font-family: RingsideCompressedSSm-Black;
    font-size: max(14px, 1.3em);
    line-height: 1em;
    padding: .83em 1em;
    border-radius: 4px;
    min-width: 5.5em;
    display: block;
}
.primary {
    background-color: #FFBF3F;
    color: #00313C;
}
.secondary {
    background-color: #FFF;
    border: 3px solid #FFBF3F;
    /* border: 3px solid #BD472A; */
    border-radius: 5px;
    color: #00313C;
    /* color: #BD472A; */
}
.tertiary {
    background-color: #FFF;
    padding: .83em 0;
    color: #00313C;
    /* color: #BD472A; */
    margin-top: -.4em;
    min-width: 50px;
}
.secondary:hover {
    background-color: #FFBF3F;
}
.full-width {
    width: 100%; /* Need to remove this class using JavaScript at min-width 48em */
}
/* Buttons End */

/* Breakpoints */
@media (min-width: 48em){
    h1 {
        font-size:4.5em;
    }
    h2 {
        font-size:3.55em;
    }
    h3 {
        font-size:2.83em;
    }
    h4 {
        font-size:2.26em;
    }
    h5 {
        font-size:1.81em;
    }
    h6 {
        font-size:1.45em;
    }
    .subheading {
        font-size: 1.3em;
    }
    p {
        font-size: max(16px, .5em);
    }
    button {
        font-size: max(16px, .71em);
    }
    .full-width {
        display: none; /* Remove this line when class is removed with JavaScript */
    }
}

@media (min-width: 64em){
    h1 {
        font-size: 3.31em;
    }
    h2 {
        font-size: 2.65em;
    }
    h3 {
        font-size: 2.12em;
    }
    h4 {
        font-size: 1.7em;
    }
    h5 {
        font-size: 1.35em;
    }
    h6 {
        font-size: 1.08em;
    }
    .subheading {
        font-size: .95em;
    }
    p {
        font-size: max(16px, .4em);
    }
    button {
        font-size: max(16px, .53em);
    }
}